body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #336699; /* Background color */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* padding-left: 3rem;
    padding-right: 3rem; */
}

h1 {
    color: #fff;
}
p {
    color: #fff ;
}

#side-menu {
    padding: 7px;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #333;
    color: #fff;
    transition: transform 0.3s ease-out;
    transform: translateX(-100%);
  }
  
  #side-menu.open {
    transform: translateX(0);
  }
  
  #menu-button {
    position: absolute;
    top: 10px;
    right: -50px;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  nav ul {
    display: flex; 
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  nav ul li {
    padding: 10px;
    /* border-bottom: 1px solid #444;  */
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

/* Attributes styles */
.attributes {
    margin-top: 20px;
}

.attributes h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.attributes p {
    margin: 5px 0;
}

/* Navigation styles */
.navigation {
    margin-top: 20px;
}

.navigation h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.navigation button {
    font-size: 16px;
    cursor: pointer;
    background-color: #fff; /* Button background color */
    color: #336699; /* Button text color */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px; /* Space between buttons */
    display: block; /* Make buttons block elements */
    width: 100%; /* Set width to fill the container */
    text-align: center; /* Align text to the left */
}

.navigation button:hover {
    background-color: #ddd; /* Button hover background color */
}

.sleep-btn,
.goback-btn {
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #fff; /* Button background color */
  color: #336699; /* Button text color */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sleep-btn:hover,
.goback-btn:hover {
  background-color: #ccd9ff; /* Button hover background color */
}

.image-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.image-container img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.Naruto_house {
  max-height: 25rem;
  max-width: 25rem;
}